body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  background-color: rgb(46, 46, 46);
  font-family: Arial, sans-serif;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 80px;
  text-align: right;
  border: none;
  background-color: rgb(64, 64, 64);
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50px;
  background-color: rgb(82, 81, 81);
  color: white;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}